name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  cs-fixer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
      - uses: ramsey/composer-install@v3
      - run: composer lint
