name: Tests

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: xdebug
      - uses: ramsey/composer-install@v3

      - name: Run tests with coverage
        run: |
          mkdir -p build
          vendor/bin/phpunit